*, *::before, *::after {
    box-sizing: inherit;
}

html {
    font-size: 100%;
    box-sizing: border-box;
    background-color: rgb(29, 29, 75);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Oxygen', sans-serif;;
    line-height: 1.3;
}

.container {
    display: grid;
    border: 1px solid white;
    padding: 15px;
    min-width: fit-content;
   
}

h1 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
    
}

div.inner-container {
    text-align: center;
    align-self: auto;
    background-color: white;
    min-width: fit-content;
    align-items: center;
}


.list-items {
    display: flex;
    align-items: center;
    list-style: none;
    border: 1px solid black;
    /* height: 50px; */
    font-family: 'Courier New', Courier, monospace;
}


